version: '3.8'

services:
  app:
    build:
      context: "./docker/php-fpm"
      dockerfile: Dockerfile
    container_name: php_api
    working_dir: /var/www
    volumes:
      - .:/var/www
      - ./docker/php-fpm/99-xdebug.ini:/usr/local/etc/php/conf.d/99-xdebug.ini
    ports:
      - "8000:8000"
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - DB_HOST=db
      - QUEUE_CONNECTION=rabbitmq
    depends_on:
      db:
        condition: service_healthy
    command: >
      bash -c "php artisan migrate && php artisan serve --host=0.0.0.0 --port=8000"
    networks:
      - sail
      - lab

  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - sail-db:/var/lib/postgresql/data
    ports:
      - '${DB_PORT:-5432}:5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - sail

  mailpit:
    image: 'axllent/mailpit:latest'
    ports:
      - '${FORWARD_MAILPIT_PORT:-1025}:1025'
      - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
    networks:
      - sail
      - lab

networks:
  sail:
    driver: bridge
  lab:
    external: true

volumes:
  sail-db:
    driver: local

