version: '3.8'

services:
  app:
    image: api-email:latest
    container_name: php_api
    working_dir: /var/www
    volumes:
      #- .:/var/www
      - ./docker/php-fpm/99-xdebug.ini:/usr/local/etc/php/conf.d/99-xdebug.ini
      - ./docker/logs:/var/www/html/logs
      - ./docker/php-fpm/supervisord.conf:/etc/supervisor/conf.d/supervisord.conf
#      - ./docker/logs/worker.log:/var/www/html/storage/logs/worker.log
      - ./docker/logs:/var/www/storage/logs
    ports:
      - "8000:8000"
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - QUEUE_CONNECTION=rabbitmq
    depends_on:
      db-email:
        condition: service_healthy
    command: >
      bash -c "composer update --no-interaction && php artisan migrate && supervisord -c /etc/supervisor/conf.d/supervisord.conf"
    networks:
      - sail
      - lab

  db-email:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - sail-db:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - sail

  mailpit:
    image: 'axllent/mailpit:latest'
    ports:
      - '${FORWARD_MAILPIT_PORT:-1025}:1025'
      - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
    networks:
      - sail

networks:
  sail:
    driver: bridge
  lab:

volumes:
  sail-db:

