version: '3.8'

services:
  app:
    build:
      context: "./docker/php-fpm"
      dockerfile: Dockerfile
    container_name: php_api
    working_dir: /var/www
    volumes:
      - .:/var/www
      - ./docker/php-fpm/99-xdebug.ini:/usr/local/etc/php/conf.d/99-xdebug.ini
      - ./docker/logs:/var/www/html/logs
      - ./docker/php-fpm/supervisord.conf:/etc/supervisor/conf.d/supervisord.conf
      - ./docker/logs/worker.log:/var/www/html/storage/logs/worker.log
    ports:
      - "8000:8000"
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - QUEUE_CONNECTION=rabbitmq
    command: >
      bash -c "php artisan migrate && supervisord -c /etc/supervisor/conf.d/supervisord.conf"
    networks:
      - sail
      - lab

  db-email:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - sail-db:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - sail

  mailpit:
    image: 'axllent/mailpit:latest'
    ports:
      - '${FORWARD_MAILPIT_PORT:-1025}:1025'
      - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
    networks:
      - sail

networks:
  sail:
    driver: bridge
  lab:

volumes:
  sail-db:

